.img{
    margin: 50px;
    width: 300px;

    display: block;
    transition: transform 0.1s;
}

.img:hover{
    transform: scale(110%);
    box-shadow: 10px 10px 10px rgb(187, 186, 186);
}

.img:active{
    box-shadow: none;
    transform: scale(100%);
}